@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
:root {
    --color-frente: #595547;
    --color-fondo: #f2efe6;
    --color-realce: #26241f;
    --color-secundario: #998b5c;
    --color-advertencia: #cc544b;

    --rango-ancho: 120px;
    --rango-alto-linea: 0.15rem;
    --rango-tamanno-bolita: 0.6rem;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: var(--color-fondo);
    color: var(--color-frente);

    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.menu {
    border-bottom: solid 1px var(--color-secundario);
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.4rem;
        
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1rem;
}
.menu > :last-child {
    margin: 0 0 0 auto;
}
svg {
    fill: var(--color-secundario);
    font-size: 1.1rem;
    padding: 0.2rem;
}
svg:hover {
    fill: var(--color-frente);
}
.espaciador *, .espaciador:hover * {
    fill: var(--color-secundario);
    margin: 0 0.5rem;
    opacity: 0.5;
}
input[type="checkbox"],
input[type="radio"]{
    display: none;
}

span:not(.espaciador), 
label {
    cursor: pointer;
    margin-inline: 0.2rem;
}
.tecladoInput {
    position: relative;
}
button {
    border: none;
    background: none;
}
button svg {
    fill: var(--color-advertencia);
}

/* Comportamientos específicos */

/* Herramientas de dibujo */
.edicionDibujo {
    display: flex;
}
/* Tipo de dibujo */
#dibujoTeclado:checked ~ #teclado_label * {
    fill: var(--color-realce);
}
#dibujoTeclado:not(:checked) ~ * > * .dibClick {
    display: none;
}
.referenciaTeclado {
    position: absolute;
    font-size: 0.7rem;
    color: var(--color-frente);
    bottom: 0;
    right: 0;
    transform: translate(0.1rem, 0.3rem);
}
/* Dibujo */
#dibujar:checked ~ #dibujar_label * {
    fill: var(--color-realce);
}
#aerografo:checked ~ #aerografo_label * {
    fill: var(--color-realce);
}
/* Selector de color */
input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: none;
    cursor: pointer; 
    border: none;
    margin: 0 0 0 0.2rem;
    transform: translateY(-0.25rem);
}
input[type=color]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input[type=color]::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}
/* color random */
#colorRandom:checked ~ #colorRandom_label * {
    fill: var(--color-realce);
}
/* Borrar Click*/
#borrar:checked ~ #borrar_label * {
    fill: var(--color-realce);
}
/* Editor de lienzo*/
.edicionLienzo {
    display: flex;
    align-items: flex-start;
}
/* Visualizar retícula */
#reticula:checked ~ #reticula_label * {
    fill: var(--color-realce);
}
/* Detalle de la grilla */
input[type=range] {
    align-self: center;
    margin: -0.2rem 0 0;
    padding: 0;
    height: var(--rango-tamanno-bolita);
    width: var(--rango-ancho);
    background: none;
}
input[type=range], [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: var(--rango-ancho);
    height: var(--rango-alto-linea);
    background: var(--color-secundario);
}
input[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: var(--rango-ancho);
    height: var(--rango-alto-linea);
    background: var(--color-secundario);
}
input[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: var(--rango-ancho);
    height: var(--rango-alto-linea);
    background: var(--color-secundario);
}
input[type=range]::-moz-range-progress {
    height: var(--rango-alto-linea);
    background: var(--color-frente);
}
input[type=range]::-ms-fill-lower {
    height: var(--rango-alto-linea);
    background: var(--color-frente);
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -0.2rem; /* Número mágico */
    box-sizing: border-box;
    border: none;
    width: var(--rango-tamanno-bolita);
    height: var(--rango-tamanno-bolita);
    border-radius: 50%;
    background: var(--color-frente);
}
input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: var(--rango-tamanno-bolita);
    height: var(--rango-tamanno-bolita);
    border-radius: 50%;
    background: var(--color-frente);
}
input[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: var(--rango-tamanno-bolita);
    height: var(--rango-tamanno-bolita);
    border-radius: 50%;
    background: var(--color-frente);
}
input[type=range]::-ms-tooltip {
    display: none;
}
/* formato */
.formatoTxt {
    color: var(--color-secundario);
    margin: 0.1rem 0.5rem 0 0;
}
#formatoFull:checked ~ #formatoFull_label * {
    fill: var(--color-realce);
}
#formatoCine:checked ~ #formatoCine_label {
    color: var(--color-realce);
}
#formatoFoto:checked ~ #formatoFoto_label {
    color: var(--color-realce);
}
#formatoCuadrado:checked ~ #formatoCuadrado_label {
    color: var(--color-realce);
}
