@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
:root {
    --color-frente: #595547;
    --color-fondo: #f2efe6;
    --color-realce: #26241f;
    --color-secundario: #998b5c;
    --color-advertencia: #cc544b;
/* Dimensiones barra range */
    --rango-ancho: 80px;
    --rango-alto-linea: 0.15rem;
    --rango-tamanno-bolita: 0.6rem;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: var(--color-fondo);
    color: var(--color-frente);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    fill: var(--color-secundario);
    z-index: 10000;
}
.menu {
    border-bottom: solid 1px var(--color-secundario);
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1rem;
}
.menu > :last-child {
    margin: 0 0 0 auto;
}
label svg {
    fill: var(--color-secundario);
    font-size: 1.1rem;
    padding: 0.2rem;
}
label svg:hover {
    fill: var(--color-frente);
}
.espaciador {
    fill: var(--color-secundario);
    margin: 0.3rem 0.6rem;
    opacity: 0.5;
    cursor: default;
}
.espaciadorTXT {
    margin: 0;
    top: -4px;
    padding: 0;
    cursor: default;
}
input[type="checkbox"], input[type="radio"]{
    display: none;
}
span, label {
    cursor: pointer;
    margin-inline: 0.2rem;
    position: relative;
    color: var(--color-secundario);
    margin: 0 0.5rem;
}
/* Comportamientos específicos */
/* Herramientas de dibujo */
.edicionDibujo {
    display: flex;
}
/* Feedback del estado de los inputs */
input:checked + label svg {
    fill: var(--color-realce);
}
input:checked + label {
    color: var(--color-realce);
}
.toggleReticula + label svg:nth-child(2) {
    display: none;
}
.toggleReticula:checked + label svg {
    fill: var(--color-secundario);
}
.toggleReticula:checked + label svg:first-child {
    fill: var(--color-secundario);
    display: none;
}
.toggleReticula:checked + label svg:nth-child(2) {
    fill: var(--color-secundario);
    display: unset;
}

.referenciaTeclado {
    position: absolute;
    font-size: 0.7rem;
    color: var(--color-frente);
    bottom: 0;
    right: 0;
    transform: translate(0.5rem, 0.3rem);
}
.referenciaVisible {
    display: unset;
}
/* Selector de color */
input[type=color] {
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background: none;
    cursor: pointer; 
    border: none;
    margin: 0 0 0 0.2rem;
    transform: translateY(-0.25rem);
}
input[type=color]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0; 
    margin: 0.2rem 0 0;
}
input[type=color]::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}
/* Editor de lienzo*/
.edicionLienzo {
    display: flex;
    align-items: center;
}
/* Detalle de la grilla */
input[type=range] {
    align-self: center;
    margin: -0.2rem 0 0;
    padding: 0;
    height: var(--rango-tamanno-bolita);
    width: var(--rango-ancho);
    background: none;
}
input[type=range], [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: var(--rango-ancho);
    height: var(--rango-alto-linea);
    background: var(--color-secundario);
}
input[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: var(--rango-ancho);
    height: var(--rango-alto-linea);
    background: var(--color-secundario);
}
input[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: var(--rango-ancho);
    height: var(--rango-alto-linea);
    background: var(--color-secundario);
}
input[type=range]::-moz-range-progress {
    height: var(--rango-alto-linea);
    background: var(--color-frente);
}
input[type=range]::-ms-fill-lower {
    height: var(--rango-alto-linea);
    background: var(--color-frente);
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -0.2rem; /* Número mágico */
    box-sizing: border-box;
    border: none;
    width: var(--rango-tamanno-bolita);
    height: var(--rango-tamanno-bolita);
    border-radius: 50%;
    background: var(--color-frente);
}
input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: var(--rango-tamanno-bolita);
    height: var(--rango-tamanno-bolita);
    border-radius: 50%;
    background: var(--color-frente);
}
input[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: var(--rango-tamanno-bolita);
    height: var(--rango-tamanno-bolita);
    border-radius: 50%;
    background: var(--color-frente);
}
input[type=range]::-ms-tooltip {
    display: none;
}
/* input numérico */
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3ch;
    height: 1.2rem;
    padding: 0.2rem 0.5rem;
    border: solid 1px var(--color-secundario);
    background: #59554721;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-realce);
}
input[type=text]:focus {
    border: solid 1px var(--color-advertencia);
    outline: solid 1px var(--color-advertencia);
}
.tooltip {
    position: relative;
    font-size: 0.8rem;
    color: var(--color-advertencia);
    height: 1rem;
    width: 0;
    margin: 0 0;
    white-space: nowrap;
    overflow: hidden;
    transition:
        margin 0.2s ease-in-out,
        width 0.5s ease-in-out;
}
.tooltip-visible {
    margin: 0 1rem 0 0;
    width: 20ch;
}
.textoRango {
    font-size: 0.8rem;
    color: var(--color-secundario);
    height: 1rem;
    width: 4ch;
    margin: 0.2rem 0 0 0.2rem;
}
/* Limpiar el tablero */
button {
    border: none;
    background: none;
    margin: 0 0 0 0.8rem;
    font-size: 1rem;
}

#limpiarTablero svg {
    fill: var(--color-advertencia);
}
#limpiarTablero:hover svg {
    fill: var(--color-frente)
}
/* Clases para los elementos creados en JS */
.tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border-bottom: solid 1px var(--color-secundario);
}
.reticulaVisible > div {
    outline: dotted 1px var(--color-advertencia);
}
.reticulaRedonda > div {
    border-radius: 50%;
}
